/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "M PLUS Rounded 1c", sans-serif;
    
} */
.na {

    display:inline-flex;
    
}

.na li {
    list-style: none;
    justify-content: space-between;
}

.material-symbols-outlined {
    background: rgb(209, 209, 58);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
}
.material-symbols-outlined:hover {
    cursor: pointer;
    color: skyblue;
    background-color: white;
    border: 3px solid skyblue;
}

.chart-wrapper {
    width: 95vh;
    margin: auto;
   } 
